<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:prg="http://thymeleafexamples">
<head lang="en">
<meta charset="UTF-8" />
<title></title>
	<link
		href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
		rel="stylesheet"></link>
	<link rel="stylesheet" th:href="@{/css/bootstrapv3.css}"></link>
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div id="tbk_header" style="width: 85%; margin: 0 auto">
		<th:block th:include="common/_menu :: div"> default</th:block>
	</div>
</body>
</html>